.navbar {
  background-color: rgb(10, 10, 10);
  color: white;
  padding: 11px;
  display: flex;
  justify-content: space-around;
}

/* .navbar > LINK {
  color: aliceblue;
  
  text-decoration: none;
} */

.navbarLoginSignUp,
.navbarHome {
  color: white;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
  /* border: 2px solid yellow; */
  padding: 5px 10px;
  border-radius: 5px;
  background-color: yellow;
}

/* .navbarHome {
  background-color: blue;
} */
